h2#where-header {
    text-align: left;
    padding-top: 30px;

}
.sites {
    text-align: left;

}

.site {
    height: 80px;
    width: 140px;
    display: inline-block;
    text-align: center;
    /* -webkit-filter: grayscale(1);
    filter: grayscale(1); */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 3px solid gray;
    /* opacity: .5; */
    
}

/* #hbo {
    border: 3px solid gold;
} */

.site-links {
    border-bottom: none;
}

/* before */


/* after */